* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit;
    src: url(../fonts/outfit-regular.woff2);
}

@font-face {
    font-family: bungeeSpice;
    src: url(../fonts/BungeeSpice-Regular.ttf);
}

@font-face {
    font-family: "Hey Comic";
    src: url(../fonts/Hey\ Comic.ttf)
}

@font-face {
    font-family: "Super WebComic";
    src: url(../fonts/SuperWebcomicBros_Rusbyyakustick_-Regular_0.ttf);
}

@font-face {
    font-family: "Donpoligrafbum-Bold";
    src: url(../fonts/Donpoligrafbum-Bold.otf);
}

body {
    background-image: url(../images/bg.jpg);
    background-size: 50px;
    overflow-x: hidden;
}

header {
    background-image: url(../images/hero.png);
    background-size: 100vw;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Donpoligrafbum-Bold", sans-serif;
}

p {
    text-align: justify;
}

summary {
    font-family: "Hey Comic";
}

.Header {
    color: #999999;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #201c1d;
  }

.hero {
    max-width: 100%;
    max-height: 100%;
	position: absolute;

	z-index: -1;
}

.container {
    background-color: #d6c6ce1d;
    box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.9);
    border-radius: 8px;
    margin: 3vh 6vw 3vh 6vw;
    padding: 2vh 1vw;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2px;
}

.profile_image {
    width: 100%;
    border-radius: 8px;
}

.profile_description {
    color:antiquewhite;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-start;
}

.description__header {
    color: #999999;
    align-self: center;
    font-size: 1.7rem;
    margin-bottom: 1vh;
}

.MenuImage {
    margin-left: auto;
}

.MenuBar {
    display: none;
}

.stop_scroll {
    overflow: hidden;
}

.MenuBar.active {
    display: block;
    position: fixed;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #2b2f2e;
    color: white;
    overflow: hidden;
}

.MenuBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.active ul li {
    margin: 10vh;
    font-size: 1.7rem;
    text-decoration: none;
}

.navLink {
    text-decoration: none;
    font-family: outfit;
    color: white;
}

.placeholder {
    width: 100%;
    height: 12vh;
}

.butterfly_footer__container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.ContactsFooter {
    display: none;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 9vh;
    background-color: #140A0A;
}

.linksContainer {
    height: 100%;
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.linksContainer > a {
    color: white;
    font-size: 1.18rem;
    text-decoration: none;
    margin: 5px;
    justify-self: center;
}


.butterfly_placeholder {
    min-width: 1vw;
    width: auto;
}

.butterfly_image {

    height: 30vh;
    width: auto;
    align-self: right;

    position: fixed;
    top: 73vh;
    left: 75vw;
    display: none;
}


::-webkit-scrollbar {
    display: none;
}



.projects__container {
    display: flex;
    flex-direction: column;
}

.project__item {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    margin-bottom: 8vh;
}

.project__image {
    width: 80vw;
    border-radius: 12px;
    box-shadow: 4px 4px 15px 8px rgba(155, 178, 182, 0.219);
    margin-bottom: 1.5vh;
}

.project__lastItem {
    margin-bottom: 1vh;
}

.project__item > p {
    font-family: "Super WebComic";
    font-size: 1.4rem;
    color:rgba(246, 253, 254, 0.603)
}

.project__item > p > a {
    font-family: bungeeSpice;
    text-decoration: none;
    color: rgba(242, 93, 118, 0.866);
}

.project__item > p > a {
    word-wrap: break-word;
}


@media (min-width: 600px) {
    header {
        height: 7vh;
    }

    .MenuImage {
        display: none;
    }

    .ContactsFooter {
        display: block;
        height: 7vh;
    }

    .linksContainer {
        margin: 0 2vw;
        grid-template-columns: repeat(4, 1fr);
        container-type: inline-size;
    }

    .linksContainer > a {
        align-self: center;
        font-size: calc(14px + 1cqw);
    }

    details {
        max-height: 98%;
    }

    details > summary {
        list-style: none;
    }

    details > summary::-webkit-details-marker {
        display:none;
    }

    .placeholder {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 6vh 1vw;
    }

    .container {
        margin: 3vh 1.5vw;
        width: 50%;
    }

    .profile__container {
        width: 34vw;
        max-height: 82vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .MyProfile {
        height: 100%;
    }
    .projects__container {
        width: 58vw;
        max-height: 82vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .Projects {
        display: flex;
        flex-direction: column;
    }

    .project__item {
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        padding: 1.3vh;
        box-shadow: 10px 10px 10px 2px rgba(225, 230, 233, 0.249), 
                10px 10px 10px 2px rgba(225, 230, 233, 0.249) inset;
        /* box-shadow: 10px 10px 10px 2px rgba(225, 230, 233, 0.249) inset,
                10px 10px 10px 2px rgba(225, 230, 233, 0.249); */
    }

    .project__item:nth-of-type(1) {
        margin-top: 5vh;
    }

    .project__item:last-child {
        margin-bottom: 5vh;
    }

    .project__image {
        width: 30%;
        margin: 0 2vw;
    }

    .project__description {
        width: 60%;
    }

    .project__item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .project__item:nth-child(odd) > p {
        text-align: left;
    }

    .project__item:nth-child(even) > p {
        text-align: right;
    }


    
}